// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "./../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "./../../node_modules/select2/dist/css/select2.min.css";
@import "./../../node_modules/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css";

//Quill
@import "~quill/dist/quill.snow.css";

// StyleSheet für das normale Web
@import "web/style";

// StyleSheet für das DarkWeb
@import "darkWeb/style";

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    padding: 0.5em 0;
    margin: 0;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.0em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}
