
.web {
    font-family: 'Lobster-Regular', serif;
    background-image: url("../../img/web/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 18px;

    .webIndex {
        min-height: 75vh;
    }
}

