.darkWeb {
    font-size: 20px;

    .darkWebColor {
        color: #fdf200;
    }

    .darkWebBackgroundColor {
        background-color: #fdf200;
    }

    .darkWebBorder {
        border-color: #fdf200 !important;
    }
}
